In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
##### In this notebook, Data Science Tools and Ecosystem are summarized

##### In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

In [ ]:
##### Some of the commonly used libraries, used by Data Scientist include:

1. Panda
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit
6. Keras

##### Some of the commonly used libraries, used by Data Scientist include:

1. Panda
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit
6. Keras

In [ ]:
##### Data Science tools:

| Data science Tools|
| ------------------|
| Jupyter Lab |
| Visual studio Code |
| Google Colab |

##### Data Science tools:

| Data science Tools|
| ------------------|
| Jupyter Lab |
| Visual studio Code |
| Google Colab |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#### This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

#### This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [ ]:
#### This will convert 200 minutes to hours by diving by 60

In [ ]:
200/60

#### This will convert 200 minutes to hours by diving by 60

In [15]:
(200/60)

3.3333333333333335

In [ ]:
##### In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
**Objectives**:
    
 + List popular languages for Data Science
 + List commonly used libraries for Data Science
 + Mention some Data Science Tools
 + valuating arithmetic expressions in python
 + Using the level 1 header to write an expression

##### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**:
    
 + List popular languages for Data Science
 + List commonly used libraries for Data Science
 + Mention some Data Science Tools
 + valuating arithmetic expressions in python
 + Using the level 1 header to write an expression

In [ ]:
## Author:

In [ ]:
#### Akin Oladokun

## Author:

#### Akin Oladokun